body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#controls {
  margin: 20px;
}

#wrapper {
  text-align: center;
}

#paperCvs {
  text-align: center;
  border: 1px solid black;
}

#stop {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}

#svgContainer {
  visibility: hidden;
}
